@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Oculta la barra de desplazamiento para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Oculta la barra de desplazamiento para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}